@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/*If you need to troubleshoot, uncomment this iframe*/
/*iframe {
    width: 100%;
    height: 90%;
}*/
html,
body {
    width:100%; /* Needed to avoid a redrawing bug in Firefox when resizing windows */
    height:100%;
    font-family: 'PT Sans', Helvetica, sans-serif;
}
body { 
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display:box;
    box-pack:center;
    box-align:center;
    overflow: hidden;
}
h1 {
    font-size: 48px;
    content: #333;
    text-align: center;
    font-family: 'PT Sans', Helvetica, sans-serif;
}
#container {
    -webkit-box-flex:1;
    -moz-box-flex:1; /* Needed to make this element flexible in Firefox */
    box-flex:1;
    max-width:50em;
    margin:0 auto;
    position: relative;
}
.speechinput {
    margin: 0 auto;
    position: relative;
    border: 0;
    height: 40px;
    width: 40px;
    background: #CCC;
    padding-right: 12px;
    border-radius: 27px;
    cursor: pointer;
    text-indent: -20em; /*Used to hide cursor*/
    -webkit-transition: all .3s ease;
}
.typing {
    padding-right: 12px;
    border-radius: 27px;
    cursor: pointer;
    text-indent: 10px; /*Used to hide cursor*/
    width: 100px;
}
#switch-to-type {
    width: 146px;
    height: 12px;
    background: rgba(0, 0, 0, .1);
    color: #888;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 20px;
    box-shadow: inset 0 0 5px #888;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    margin: 0 auto;
}

#alfredform {
    text-align: center;
}
.speechinput:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #999;
}
#switch-to-type:hover {
    color: #FFF;
    box-shadow: inset 0px 0 8px #333;
    background: rgba(0,0,0,.3);
}
#switch-to-type:active {
    background: rgba(0,0,0,.4);
}
input[name="speechinput"] {

}